h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 16px;
}
article.boxed {
  background-color: #f0f0f0;
  padding: 32px;
  border-radius: 16px;
}
iframe {
  display: block;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th {
  color: silver;
  font-weight: normal;
  text-align: left;
}
td:first-child {
  width: 100%;
}
td {
  border: 1px solid silver;
}
/* lt-md */
@media only screen and (max-width: 959px) {
  .noif-lt-md {
    display: none;
  }
}
