<div>
  <h1>Infrastructure</h1>
  <div>
    <div id="banner"></div>
  </div>
  <article>
    <aside class="pquote">
      <blockquote>Software layers</blockquote>
    </aside>
    <p>
      As seen about Cadmus
      <a routerLink="docs/data-architecture">architecture</a>, the shift from a
      text-based model to a more abstract, data-centric one also implies a
      fundamental shift from a set of file-system based documents to a true
      database. This is an essential requirement to allow all the features which
      nowadays are mostly given for granted for any content editing system, like
      web-based UI, centralized data stores, concurrent editing, different
      authorization levels for different users, real-time validation and search,
      strong auditing and backup policies, etc.
    </p>
    <p>
      In this context, Cadmus provides a sort of framework for building highly
      specialized content-creation systems with a minimal effort. The framework
      is designed according to widely used principles, and consists of several
      software layers, each of them being dependent only from the lower one:
    </p>
    <ol>
      <li>
        database: the database layer is the deepest one. This layer is where all
        data get stored: all the items and parts, authentication details,
        logging, and search indexes. The layer includes a number of databases
        using two technologies: a NoSql system for data and infrastructure
        (currently
        <a href="https://www.mongodb.com" target="_blank">MongoDB</a>), and a
        RDBMS system for indexes (currently
        <a href="https://www.mysql.com" target="_blank">MySql</a>). Both these
        technologies are widely used and free, so ultimately all what Cadmus
        produces is a standard database. It should be noticed that all the upper
        layers access this layer only through a generic repository, which is an
        abstraction built on top of the specific data storage technology chosen.
        So, it would be easy to swap this technology with another one by simply
        swapping the repository implementation, without the rest of the system
        even noticing this change.
      </li>
      <li>
        core and extensions: the core layer contains all the core components for
        the Cadmus architecture. Also, a number of additional modules can be
        introduced to handle all the models (parts and fragments) we want to use
        in our dataset.
      </li>
      <li>
        web API: all the editing functions required for the system to work are
        published as a set of web API endpoints, which can be directly consumed
        by machines, whatever the programming language used. This layer is
        protected by standard authentication and authorization technology based
        on OpenAuth.
      </li>
      <li>
        frontend app: the topmost layer is the only one surfacing to the end
        user. It provides the user with a full-blown editing user interface
        running in his/her own web browser, so that the editing experience is
        very friendly and requires no technical skills.
      </li>
    </ol>
    <p>
      All these layers (except the database one, which coincides with the
      database technologies being used) provide a set of modules which represent
      most part of the code for the whole editing system. Once scholars have
      picked their models from a <a routerLink="/models/shop">"shop"</a>, or add
      their own tailored to their views and purposes, the system gets assembled
      by composition, just like it happens for data models and their editing
      user interfaces.
    </p>
    <p>
      Finally, all the Cadmus layers and the different projects based on it are
      typically deployed as
      <a href="https://www.docker.com" target="_blank">Docker</a> images, freely
      accessible from the Docker Hub repository, just like their code can be
      found on <a href="https://www.github.com">GitHub</a>.
    </p>
    <h2>Real-Time Search</h2>
    <aside class="pquote">
      <blockquote>Indexing black boxes</blockquote>
    </aside>
    <p>
      Real-time search in Cadmus is strictly connected with its modular and open
      <a routerLink="docs/data-architecture">architecture</a>. As we have seen,
      there is no closed set of data models; everyone can design and add new
      models at any time, for any type of data, with any relationship with text
      (textual, meta-textual, or extra-textual). Items representing records are
      composite models, built of parts. Each part is an independent,
      self-contained data model.
    </p>
    <p>
      In this context, the challenge for indexing data thus providing a
      real-time search inside the editor comes from the fact that the
      infrastructure cannot know anything about its models. These are
      effectively black boxes, and might have any structure. So, how it is
      supposed to extract and filter data from them in order to build an index?
      The solution is deferring this task to the only entity which knows about
      the model: i.e. the part itself. Only the part knows about its own model,
      while the infrastructure is totally agnostic of it: that's one of the
      tenets which ensure the openness of the architecture. Thus, the part
      themselves are in charge of inspecting their own content, and select and
      filter some properties from it to expose them for indexing.
    </p>
    <p>
      Of course, keeping with components isolation, parts in turn need not to
      know about the details of the index. These are buried inside the software
      component in charge of dealing with search, and might change, together
      with their underlying technology, by simply swapping this component with
      another one.
    </p>
    <aside class="pquote">
      <blockquote>Data pins</blockquote>
    </aside>
    <p>
      Thus, the Cadmus architecture provides a generic mechanism for letting
      parts expose data which need to be indexed, called
      <strong>data pins</strong>. A data pin is just a name=value pair derived
      from a part. Most parts expose a number of such pairs to the outer world.
      For instance, a datation part might expose a numeric value representing
      its content. The data pin is generic enough to represent different levels
      of granularity: it may just be a name=value property, or a more complex
      entity, e.g. a semantic web triple (usually with name acting as predicate
      and value as object, the implicit subject being the data pin owner).
    </p>
    <p>
      Parts thus are in charge of selecting data in the form of pins, eventually
      filtering their values (e.g. by removing diacritics and flattening case in
      text).
    </p>
    <p>
      Each part also provides a list of metadata with all the details about each
      data pin: its name, how it gets filtered, and whether it's unique or
      multiple in that part. These metadata are consumed by the UI to provide
      users with a list of all the things which can be searched for each part.
    </p>
    <aside class="pquote">
      <blockquote>Real-time indexing</blockquote>
    </aside>
    <p>
      Thus, whenever a part gets saved, the infrastructure queries it for all
      its data pins, and stores them into its index, together with the part's
      and item's identifiers. This way, users can search this index at any
      moment, and find data as soon as they get stored.
    </p>
    <aside class="pquote">
      <blockquote>Query language</blockquote>
    </aside>
    <p>
      The search is based on a very simple query language, based on name/value
      pairs connected by an operator.
    </p>
    <p>
      Pairs are included between <code>[]</code>. Each pair has three
      components: name, operator + field value. You can specify one or more
      pairs, connecting them with <code>AND</code> and <code>OR</code>, and
      group them using brackets. For instance, this query:
    </p>
    <pre><code>[<span>title</span>*=test] AND ([facet=default] OR [facet=tiled])</code></pre>
    <p>
      finds all the items whose title includes the text <code>test</code> and
      whose facet ID is either <code>default</code> or <code>tiled</code>.
    </p>
    <p>The pair name can be any of the following:</p>
    <ul>
      <li><code>t</code>, <code>title</code>: item&#39;s title.</li>
      <li>
        <code>dsc</code>, <code>description</code>: item&#39;s description.
      </li>
      <li><code>facet</code>, <code>facetId</code>: item&#39;s facet ID.</li>
      <li><code>group</code>, <code>groupId</code>: item&#39;s group ID.</li>
      <li><code>sortKey</code>: item&#39;s sort key.</li>
      <li><code>flags</code>: item&#39;s flags.</li>
      <li>
        <code>type</code>, <code>partType</code>, <code>partTypeId</code>: part
        type ID.
      </li>
      <li><code>role</code>, <code>roleId</code>: part role ID.</li>
      <li><code>n</code>, <code>name</code>: pin&#39;s name.</li>
      <li><code>v</code>, <code>value</code>: pin&#39;s value.</li>
    </ul>
    <p>
      Pins names depend on the parts used and which pins are emitted by each of
      them.
    </p>
    <p>
      You can also use escapes in the value, by prefixing its 16-bits Unicode
      hex code value with a backslash. Also, you can insert square brackets by
      prefixing them with a backslash.
    </p>
    <p>The operators are:</p>
    <ul>
      <li><code>=</code>: equal to.</li>
      <li><code>&lt;&gt;</code>: not equal to.</li>
      <li><code>*=</code>: contains.</li>
      <li><code>^=</code>: starts with.</li>
      <li><code>$=</code>: ends with.</li>
      <li>
        <code>?=</code>: wildcards: <code>?</code>=any single character,
        <code>*</code>=0-N characters.
      </li>
      <li><code>~=</code>: regular expression.</li>
      <li>
        <code>%=</code>: fuzzy matching. The value is followed by
        <code>:</code> and the minimum similarity treshold.
      </li>
      <li><code>==</code>: equal (numeric).</li>
      <li><code>!=</code>: not equal (numeric).</li>
      <li><code>&lt;</code>: less-than (numeric).</li>
      <li><code>&gt;</code>: greater-than (numeric).</li>
      <li><code>&lt;=</code>: less-than or equal (numeric).</li>
      <li><code>&gt;=</code>: greater-than or equal (numeric).</li>
      <li>
        <code>:</code> (flags): any the specified flags (comma-separated) must
        be present.
      </li>
      <li>
        <code>&amp;:</code> (flags): all the specified flags (comma-separated)
        must be present.
      </li>
      <li>
        <code>!:</code> (flags): none of the specified flags (comma-separated)
        must be present.
      </li>
    </ul>
    <p>Flags can be specified either with name or value.</p>
    <aside class="pquote">
      <blockquote>Lookup mechanism</blockquote>
    </aside>
    <p>
      It should be noticed that user search is not the only usage for pins.
      Another typical use case is provided by lookup mechanisms in the editor
      infrastructure. In fact, even though in most cases parts are independent,
      there can be cases where you need to insert into a part some identifiers
      defined in another one.
    </p>
    <p>
      To make a real example, say you have a corpus of prison graffiti: in this
      scenario, each graffiti is an item, and among its parts has one telling
      its location: which prison, cell, and position in its walls. Now, given
      that other items represent the prisons themselves, which among other data
      include an ID, it is convenient for users to take advantage of a lookup
      mechanism to recall the prison ID for each graffiti, when entering its
      position.
    </p>
    <p>
      To this end, Cadmus leverages the data pins already exposed by parts.
      Assuming that the prison part exposes the prison ID among other data pins,
      we already have the data to lookup in the index. All what we must do is
      searching for a specific pin name for all the parts of a specific type.
      This allows Cadmus user interfaces to provide auto-completion boxes
      wherever is required: user just types some letters of the prison ID, and
      the first matching IDs appear, so that the full ID can be picked from the
      list.
    </p>
  </article>
</div>
