#banner {
  height: 258px;
  background-image: url("/assets/img/infrastructure.jpg");
  background-size: cover;
  margin-bottom: 16px;
}
h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 16px;
}
code {
  color: #c58104;
}
pre {
  font-size: 0.9rem;
  background-color: #f0f0f0;
  margin: 8px 16px;
  overflow: auto;
}
figcaption {
  color: #808080;
}
