<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Thesauri List Code</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <button type="button" mat-stroked-button (click)="loadSample()">
        <mat-icon>input</mat-icon>
        load sample
      </button>
      &nbsp;
      <form [formGroup]="form" (submit)="importCsv()" style="display: inline-block;">
        <mat-form-field>
          <ngx-mat-file-input
            placeholder="CSV file to import"
            formControlName="csvFile"
            accept=".csv,.tsv,.txt"
          >
          </ngx-mat-file-input>
        </mat-form-field>
        <button type="submit" mat-icon-button [disabled]="form.invalid">
          <mat-icon>upload_file</mat-icon>
        </button>
      </form>
    </div>
    <cadmus-json-editor
      [data]="(data$ | async) || '[]'"
      (dataChange)="onDataChange($event)"
    ></cadmus-json-editor>
  </mat-card-content>
</mat-card>
