<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Thesauri List Code</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <button type="button" mat-stroked-button (click)="loadSample()">
        <mat-icon>input</mat-icon>
        load sample
      </button>
      &nbsp;
      <div style="display: inline-block">
        <label for="file">
          <mat-icon style="vertical-align: middle">folder_open</mat-icon> import
          CSV
        </label>
        <input
          type="file"
          id="file"
          accept=".txt,.csv,.tsv"
          (chenge)="importCsv($event)"
        />
      </div>
    </div>
    <cadmus-json-editor
      [data]="(data$ | async) || '[]'"
      (dataChange)="onDataChange($event)"
    ></cadmus-json-editor>
  </mat-card-content>
</mat-card>
