<div>
  <h1>Introduction to Cadmus</h1>
  <div>
    <div id="banner"></div>
  </div>
  <article>
    <h2>What Is Cadmus?</h2>
    <p>It is somewhat easier to start with saying what Cadmus is not.</p>
    <p>
      Cadmus is <em>not</em> a prebuilt set of models you are forced to embrace
      to create your content. Rather, it is just a framework where you can place
      your own data models, together with their editing UI. So, these models are
      totally up to you. The architecture is designed to provide the skeleton to
      be embodied by the flesh of your own content, to provide a quicker path to
      its creation.
    </p>
    <p>
      Cadmus is <em>not</em> an encoding format, too. In fact, its underlying
      storage technology is handled through an abstraction, so it can be
      replaced with anything else at any moment, without affecting the other
      layers in the system.
    </p>
    <p>
      Although mostly used with texts, Cadmus is <em>not</em> a text annotation
      system. It is content-agnostic, so you can well add text with any number
      of different and complex annotations (critical apparatus, orthography,
      abbreviations, paleographic features, comments, and whatever you might
      think of). Yet, text here is not a privileged structure bearing all the
      data connected to it, as it usually is the case with markup technologies
      like XML. Any type of content, either textual, meta-textual, or
      non-textual, can be equally created whithin the system, and whatever its
      nature it shares a common architecture. In fact, some of the projects
      adopting Cadmus have no textual content at all.
    </p>
    <p>
      Cadmus is <em>not</em> usually targeted to direct publication. It belongs
      to the content creation stage of a project, and everything in it is
      optimized for this purpose. It aims to provide a user-friendly environment
      for collaborative, web-based content creation, whatever the models of your
      content.
    </p>
    <p>
      Cadmus is <em>not</em> the solution fit for any problem. It's just a
      content-creation framework which may come handy whenever a high level of
      structure is required, and more traditional approaches would suffer from a
      number of issues connected to the nature of the project, its data, or its
      team skills. In a more traditional content creation process of Scholarly
      Digital Editions, a “text-centric” perspective is often responsible of the
      persistence of a “book paradigm” in its digital reincarnation. At least
      when producing content, we essentially deal with a text which flows from
      paper to a digital document with annotations (XML), to be then published
      to HTML via XSLT. Here, the tree structure laid on the text bears the
      whole data universe. This is consistent with the typical usages of TEI,
      essentially oriented to the “reconstruction of documents”. Yet, in some
      cases, especially with the outgrow of data provided by new types of
      analysis (e.g. morphological, syntactical or metrical tagging), and/or
      when handling very complex documents (e.g. inscriptions or complex
      literary traditions), this may not be the most efficient paradigm for
      creating content. In such scenarios a paradigm shift might be beneficial;
      and Cadmus aims to provide at least a concrete example of a tool which can
      effectively implement this shift in real-world projects.
    </p>
    <p>
      Thus, Cadmus is not going to replace your preferred models or
      technologies. It is just going to eventually support them, by providing a
      rapid development framework for creating highly structured content,
      without having to train users in the usage of any specific technology. In
      fact, users are totally shielded from the underlying technologies; they
      just enter data in some web forms. Cadmus is more content-centric than
      technology-oriented; it focuses on domain models, rather than on the
      details of their digital encoding.
    </p>
    <p>
      So, for instance TEI might well be a product derived from Cadmus' content;
      but as the outcome of a more articulated production flow, rather than its
      starting point. Thinking textual, meta-textual or non-textual content
      beyond the technological and mental markup constraints allows freeing
      scholars from a number of practical issues (e.g. apparatus and workarounds
      like stand-off), letting them focus on their logical rather than physical
      models. Also, in creating content we should emphasize the typical
      requirements of any modern content editing infrastructure, like
      centralization, robustness, real-time validation and search, web-based
      concurrent editing, etc., which are very difficult to be met when dealing
      with text files.
    </p>
    <p>
      Finally, in this context Cadmus is not even a point-to-point comprehensive
      solution; it rather stands at the center of a content production flow,
      which according to the complexity of the project may imply a number of
      preprocessing and import stages before it; and a number of indexing,
      transformations and exports after it. For some of these stages, e.g.
      importing legacy, often low-structured digital data, some solutions like
      my ProteusTODOREF are designed to work side by side with it. At any rate,
      Cadmus is the editing framework which works on content, either from
      scratch, or derived from something else; and then usually produces
      something else in the context of a longer flow.
    </p>

    <h2>Content Before Presentation</h2>
    <p>
      It is crucial to notice that the approach used here implies that the
      database used in entering data is usually distinct from the one (if any)
      used to publish them. For instance, a typical use case is represented by a
      web application targeting end users, and drawing its data from a
      traditional RDBMS backend. In this scenario, the RDBMS database will be an
      automatic product of the data editing database; but the two databases are
      kept distinct, because they serve different purposes.
    </p>
    <p>
      When entering data, we privilege an architecture widely <em>open</em> to
      expansion, with <em>dynamic</em> and <em>modular</em> modelling, and
      mostly fit to the <em>requirements</em> and habits of the scholars
      involved in the project. When publishing data instead, we will usually
      switch to a more rigid structure, typically implemented with a RDBMS,
      including any type of indexing and remodelling useful for the purposes of
      data publication and sharing.
    </p>
    <p>
      In this context, the relational database of this sample is just one of the
      possible outputs derived from Cadmus content. For instance, another one
      would be TEI, or a set of RDF triples, whatever the ontologies you are
      going to use, or PDF, static HTML, CSV, or any other format you want.
    </p>
    <h2>Different Content Stages</h2>
    <p>
      Thus, Cadmus provides a way of working which in a sense is similar to the
      traditional, "bottom-up" approach, where scholars used to produce a set of
      documents representing the "dossier" about their research subject, and
      eventually later tried to summarize their results by means of collecting
      and consolidating data from each of these documents, into a more
      structured and rigid scheme. The crucial difference is that in a
      pre-digital world they might even do this by simply writing a set of
      documents using a word processor; here instead they still work on their
      own "dossiers", adopting the model they see most fit to their subject and
      purposes; but they are directly producing a highly structured content, by
      filling a number of forms rather than just writing a free text.
    </p>
    <p>
      Once this structured content is in place, you can do with it whatever you
      want; for instance, generate TEI documents, or RDF sets. In fact, often
      content is best created in a richer and more complex model, where only a
      subset of it is extracted to be remodelled into triples. This is much
      easier than striving to express any type of content, whatever its
      complexity and traditional scholarly description, directly into a set of
      triples, which anyway usually cover only a subset of the information we
      want to share in this form.
    </p>
    <p>
      In more general terms, this workflow resembles the well-known trend
      towards an evident separation between the content and its presentations
      and usages; for instance, in many popular software models we distinguish
      between the underlying model and logic on one side, and the view
      representing the user interface on the other side. Often, the mediator
      between these two sides is represented by a viewmodel, i.e. an adaptation
      of the model to the requirements of a specific view, presenting it with a
      well defined way and interactive behavior. Using this analogy, we could
      think of Cadmus native data as the model, defined only according to the
      domain requirements, with no specific constraint posed by a specific
      serialization technology or intended presentation; then, for instance a
      task-oriented RDBMS derived from it would represent a viewmodel, serving
      the view we want to use as our presentation, in its widest meaning, from
      an end-user, interactive web application to a direct data sharing scenario
      via TEI or RDF exports, SPARQL endpoints, web APIs, etc.
    </p>
    <h2>Cross-Integration</h2>
    <p>
      The above workflow could be envisaged as a "horizontal" flow, where
      content eventually coming from legacy or paper-based resources, or created
      from scratch, enter the Cadmus editing environment with its dynamic,
      modular and open modeling architecture, to be later exported in any
      desired output.
    </p>
    <p>
      In some cases, we could also imagine another workflow crossing this one,
      where we also need to integrate some external resources into the editing
      experience. For instance, think of a bibliography: usually we can be
      satisfied with a bottom-up approach, where bibliographic entries are
      scattered across a number of "dossiers", to be later collected and
      consolidated into a unique resource. So this is a "bottom-up" approach,
      where bibliography is built from a set of different "documents". Anyway,
      there might be cases where we prefer a "top-down" approach, either because
      we want
    </p>
  </article>
</div>
