<div>
  <h1>Introduction to Cadmus</h1>
  <div>
    <div class="banner">
      <img
        class="banner-img"
        srcset="
          ./assets/img/intro-1024.jpg 1024w,
          ./assets/img/intro-512.jpg   512w
        "
        sizes="(max-width: 600px) 512px, 1024px"
      />
    </div>
  </div>
  <article class="cols">
    <h2>What Is Cadmus?</h2>
    <p>
      In short, Cadmus is an open-source, tiny framework for building web-based,
      layered, modular, and user-friendly content creation systems for highly
      structured data in Digital Humanities. So, in this context Cadmus is first
      of all a way of thinking and modelling data; and then a proof-of-concept
      system prototype, which puts its philosophy at work with real-world
      projects.
    </p>
    <p>It is somewhat easier to start with saying what Cadmus is not.</p>
    <aside class="pquote">
      <blockquote>
        Cadmus is not going to tell you how to model your data; you are
      </blockquote>
    </aside>
    <p>
      Cadmus is <em>not</em> a prebuilt set of models you are forced to embrace
      to create your content. Rather, it is just a framework where you can place
      your own data models, together with their editing UI. So, these models are
      totally up to you. The
      <a routerLink="/docs/data-architecture">architecture</a> is designed to
      provide the skeleton to be embodied by the flesh of your own content. This
      provides a quicker path to its creation. Nonetheless, Cadmus being a
      modular system, you can take advantage of existing models and compose your
      own with minimal effort. This provides not only data, but even UI reuse,
      across the whole system.
    </p>
    <aside class="pquote">
      <blockquote>Logical, not physical modeling</blockquote>
    </aside>
    <p>
      Cadmus is <em>not</em> an encoding format, too. In fact, its underlying
      storage technology is handled through an abstraction, so it can be
      replaced with anything else at any moment, without affecting the other
      layers in the system.
    </p>
    <p>
      Thus, Cadmus is not going to replace your preferred models or
      technologies. It is just going to eventually support them, by providing a
      rapid development framework for creating highly structured content,
      without having to train users in any specific technology. Cadmus is more
      content-centric than technology-oriented; it focuses on domain models,
      rather than on the details of their digital encoding. Users do not need to
      mess with them.
    </p>
    <aside class="pquote">
      <blockquote>Text as a datum, rather than a data architecture</blockquote>
    </aside>
    <p>
      Although mostly used with texts, Cadmus is <em>not</em> a text annotation
      system. It is content-agnostic, so you can well add text with any number
      of different and complex annotations (critical apparatus, orthography,
      abbreviations, paleographic features, comments, and whatever you might
      think of). Yet, text here is not a privileged structure bearing all the
      data connected to it, as it usually is the case with markup technologies
      like XML. Any type of content, either textual, meta-textual, or
      non-textual, can be equally created whithin the system, and whatever its
      nature it shares a
      <a routerLink="/docs/data-architecture">common architecture</a>. In fact,
      some of the projects adopting Cadmus have no textual content at all. By
      contrast, in a more traditional content creation process of Scholarly
      Digital Editions, a “text-centric” perspective is often responsible of the
      persistence of a “book paradigm” in its digital reincarnation. When
      producing content, we essentially deal with a text which flows from paper
      to a digital document with annotations (XML), to be then published to HTML
      via XSLT. Here, the tree structure laid on the text bears the whole data
      universe. This is consistent with the typical usages of TEI, essentially
      oriented to the “reconstruction of documents”. Yet, in some cases,
      especially with the outgrow of data provided by new types of analysis
      (e.g. morphological, syntactical or metrical tagging), and/or when
      handling very complex documents (e.g. inscriptions or complex literary
      traditions), this may not be the most efficient paradigm for creating
      content. In such scenarios a paradigm shift might be beneficial; and
      Cadmus aims to provide at least a concrete example of a tool which can
      effectively implement this shift in real-world projects.
    </p>
    <aside class="pquote">
      <blockquote>Content vs Presentations</blockquote>
    </aside>
    <p>
      Cadmus is <em>not</em> usually targeted to direct publication. It belongs
      to the content creation stage of a project, and everything in it is
      optimized for this purpose. It aims to provide a user-friendly environment
      for collaborative, web-based content creation, whatever the models of your
      content.
    </p>
    <p>
      So, for instance TEI might well be a product derived from Cadmus' content;
      but as the outcome of a more articulated production flow, rather than its
      starting point. Thinking textual, meta-textual or non-textual content
      beyond the technological and mental markup constraints allows freeing
      scholars from a number of practical issues (e.g. apparatus and workarounds
      like stand-off), letting them focus on their logical rather than physical
      models. Also, in creating content we should emphasize the typical
      requirements of any modern content editing infrastructure, like
      centralization, robustness, real-time validation and search, web-based
      concurrent editing, etc., which are very difficult to be met when dealing
      with text files.
    </p>
    <p>
      In this context Cadmus is not even a point-to-point comprehensive
      solution; it rather stands at the center of a content production flow,
      which according to the complexity of the project may imply a number of
      preprocessing and import stages before it; and a number of indexing,
      transformations and exports after it. For some of these stages, e.g.
      importing legacy, often low-structured digital data, some solutions like
      my Proteus are designed to work side by side with it. At any rate, Cadmus
      is the editing framework which works on content, either from scratch, or
      derived from something else; and then usually produces something else in
      the context of a longer flow.
    </p>
    <p>
      This approach implies that the database used in entering data is usually
      distinct from the one (if any) used to publish them. For instance, a
      typical use case is represented by a web application targeting end users,
      and drawing its data from a traditional RDBMS backend. In this scenario,
      the RDBMS database will be an automatic product of the data editing
      database; but the two databases are kept distinct, because they serve
      different purposes.
    </p>
    <p>
      When entering data, we privilege an architecture widely <em>open</em> to
      expansion, with <em>dynamic</em> and <em>modular</em> modelling, and
      mostly fit to the <em>requirements</em> and habits of the scholars
      involved in the project. When publishing data instead, we will usually
      switch to a more rigid structure, typically implemented with a RDBMS,
      including any type of indexing and remodelling useful for the purposes of
      data publication and sharing.
    </p>
    <p>
      In this context, the relational database of this sample is just one of the
      possible outputs derived from Cadmus content. Another one would be TEI, or
      a set of RDF triples, whatever the ontologies you are going to use; or
      PDF, static HTML, CSV, etc.
    </p>
    <h2>Content Flow</h2>
    <aside class="pquote">
      <blockquote>Bottom-up</blockquote>
    </aside>
    <p>
      Thus, Cadmus provides a way of working which in a sense is similar to the
      traditional, "bottom-up" approach, where scholars used to produce a set of
      documents representing the "dossier" about their research subject. Later,
      eventually they summarized their results by means of collecting and
      consolidating data from each of these documents, into a more structured
      and rigid scheme. The crucial difference is that in a pre-digital world
      they have been doing this by simply writing a set of documents in a word
      processor; here instead they they are producing highly structured content,
      by filling a number of forms, rather than just writing a free text.
    </p>
    <p>
      Once this structured content is in place, you can do with it whatever you
      want; for instance, generate TEI documents, or RDF sets. In fact, often
      content is best created in a richer and more complex model, where only a
      subset of it gets extracted and remodelled into triples. This is much
      easier than striving to express any type of content, whatever its
      complexity and traditional scholarly description, directly into a set of
      triples.
    </p>
    <aside class="pquote">
      <blockquote>Sample: extracting RDF from models</blockquote>
    </aside>
    <p>
      For instance, consider the trivial case of a linear physical measurement.
      In Cadmus, it might be represented with a simple model, which is both
      user-friendly and structured. This model includes 2 or 3 dimensions for
      width, height, and depth; each with a value and a measurement unit.
      Eventually, the user can tag each dimension (or the measurement as a
      whole) to categorize or group it in some way. This model is edited in the
      below UI; under it, you can find the model represented as an object with
      its properties, serialized in JSON format.
    </p>
    <p>
      Try playing with the UI, and then click the button. You will get a fake
      <a href="http://www.cidoc-crm.org/" target="_blank">CIDOC-CRM</a> export,
      where a set of triples get exported from the data you entered. According
      to the CIDOC-CRM model, we focus on the measurement <em>event</em>, which
      includes several dimensions (for width etc.). Each of these dimensions has
      a value, a unit, and a type (width etc.).
    </p>
    <p>
      Further, you can also specify your name. This of course is not part of the
      Cadmus model for the size; but is added here just to show you how the
      export can collect and consolidate data from different models. In this
      demo, when you enter a name you will get some additional triples, which
      tell that the user with a specific identifier is a person, and the
      measurement was taken by him/her.
    </p>
    <p>
      So, here you can see a very small sample of this concept. The RDF export
      using a CIDOC-CRM ontology is a graph, where each datum gets atomized and
      linked to other nodes. This of course is the basis for the powerful
      semantic web model; but for human users, it would be rather painful to
      directly express themselves in this way. They usually want to create a
      huge quantity of structured content in a more organic scenario, where a
      number of "dossiers" about each topic gets created during their research.
      So, here Cadmus acts a bridge between the requirements of human
      researchers and those of data modeling and publication.
    </p>
    <form [formGroup]="form" (submit)="buildRdf()">
      <mat-form-field>
        <input matInput [formControl]="user" placeholder="your name" />
      </mat-form-field>
      <cadmus-mat-physical-size
        [unitEntries]="unitEntries"
        [size]="initialSize"
        (sizeChange)="onSizeChange($event)"
      ></cadmus-mat-physical-size>
      <button type="submit" mat-icon-button color="primary">
        <mat-icon>check_circle</mat-icon> enter data
      </button>
    </form>
    <div>
      <p><strong>Cadmus user-oriented model</strong></p>
      <code>
        <pre>{{ size?.value | json }}</pre>
      </code>
      <p *ngIf="rdf"><strong>Fake CIDOC-CRM export</strong></p>
      <code>
        <pre>{{ rdf }}</pre>
      </code>
    </div>
    <h2>Cross-Integration</h2>
    <aside class="pquote">
      <blockquote>Integrating resources in the data flow</blockquote>
    </aside>
    <p>
      The above workflow could be envisaged as a "horizontal" flow, where
      content eventually coming from legacy or paper-based resources, or created
      from scratch, enter the Cadmus editing environment with its dynamic,
      modular and open modeling
      <a routerLink="/docs/data-architecture">architecture</a>, to be later
      exported in any desired output.
    </p>
    <p>
      In some cases, we could also imagine another workflow crossing this one,
      where we also need to integrate some external resources into the editing
      experience. For instance, think of a bibliography: usually we can be
      satisfied with a bottom-up approach, where bibliographic entries are
      scattered across a number of "dossiers", to be later collected and
      consolidated into a unique resource. So this is a "bottom-up" approach,
      where bibliography is built from a set of different "documents".
    </p>
    <aside class="pquote">
      <blockquote>Top-down</blockquote>
    </aside>
    <p>
      Anyway, there might be cases where we prefer a "top-down" approach, either
      because our references are so relevant that we want to build an
      independent bibliographic resource, or because we just want to leverage an
      existing bibliographic resource, like a dedicated RDBMS, or a public
      service like <a href="www.zotero.org" target="_blank">Zotero</a>. In such
      scenarios, you can well integrate these resources into the editor,
      implementing a "top-down" approach, where you read (and eventually also
      write) data from an external resource.
    </p>
    <p>
      This simple example about bibliography was chosen right because Cadmus
      already provides modules for both these approaches in this domain: a
      <a href="https://github.com/vedph/cadmus_biblioapi" target="_blank"
        >top-down bibliographic sub-system</a
      >
      is already implemented and used by one of the Cadmus-based projects, side
      by side with other projects using a bottom-up approach. Anyway, that's
      only the iceberg's tip; the same approach could prove useful for any other
      publicly available resource, like e.g. geographic gazetteers, IIIF
      services, etc. As each data model in the system has its own editor, and
      this essentially is a miniature web application, there is no limit to
      their complexity and to the resources they might be using.
    </p>
    <p>
      Thus, this provides an open editing system, where integration is a key
      feature either by means of import/export and by means of resources
      connection.
    </p>
    <p>
      <a mat-raised-button routerLink="/docs/data-architecture"
        >Next: Data Architecture</a
      >
    </p>
  </article>
</div>
