<div>
  <h1>Semantic Graph</h1>
  <div>
    <div class="banner">
      <img
        class="banner-img"
        srcset="
          ./assets/img/graph-1024.jpg 1024w,
          ./assets/img/graph-512.jpg   512w
        "
        sizes="(max-width: 600px) 512px, 1024px"
      />
    </div>
  </div>
  <article class="cols">
    <p>
      For more information, see the
      <a
        href="https://github.com/vedph/cadmus-graph/blob/master/docs/index.md"
        target="_blank"
        rel="noopener"
        >technical documentation</a
      >
      about the graph subsystem.
    </p>
    <aside class="pquote">
      <blockquote>Connecting monads</blockquote>
    </aside>
    <p>
      As we have seen, the basic Cadmus architecture includes objects of any
      type (parts), contained in a box (item) with an attached label (item's
      metadata); these boxes are stored on shelves (the database
      infrastructure).
    </p>
    <p>
      Our objects, the parts, are somewhat "monadic" models. They must be
      self-contained and independent, because they need to be composed into
      items; and they need to be reused across different items. It's right their
      independency which makes them fit to reuse.
    </p>
    <p>
      Yet, many entities defined by parts can enter a complex set of relations.
      For instance, consider a manuscript. To start with, we want to fully
      describe all the features we think relevant for such object. To this end,
      we can use a lot of parts for its material features, textual content,
      decorations, bindings, watermarks, etc. These are the objects in the box.
    </p>
    <p>
      Yet, we also have a lot of relations involving a manuscript: a manuscript
      can be commissioned by one person; written by another; decorated by yet
      another one; attached to a letter and sent to a person, etc. Of course,
      there's no limit to such relationships. So, where should we store all of
      them?
    </p>
    <aside class="pquote">
      <blockquote>A tale of three entities</blockquote>
    </aside>
    <p>
      While properties considered intrinsic or relevant to such objects are part
      of their model, relations with other objects are confined to the realm of
      incidental events. Quoting a famous example used in
      <a href="https://cidoc-crm.org/" target="_blank">CIDOC-CRM</a>, consider
      the event of Caesar's murder by Brutus and others. In an event-centric
      ontology like CIDOC-CRM, we have three segments on the timeline of
      history, each corresponding to the lifespan of an entity: one for Caesar,
      one for Brutus, and one for the sword used by Brutus to stab him. The
      murder is the event which at a specific point in time (March 15, 44 BC)
      links all these three entities together: it's like drawing a vertical line
      which crosses all these segments, connecting them at some point in
      history.
    </p>
    <p>
      Now, of course this event is something which is not intrinsically part of
      the description of a person like Caesar or Brutus, or of an object like a
      sword. It's an incidental event which happens to bind these entities at
      some point in time and space. Should we have a database of persons, or of
      archaeological artefacts, we could not make the sword a property of the
      person object, or vice-versa. These are not features considered intrinsic
      to either a person or an object in general terms (unless we are
      specifically collecting cases of murder). Adding such an optional property
      just to make room for that information somewhere would pollute the model
      of each object. So, where should we place things like events or other
      types of less or more incidental relationships among various objects?
      Clearly, outside each of these types. Given that Cadmus is designed also
      for emitting RDF-like modeled data, thus allowing users to publish for the
      semantic web, it's obvious that such relations can easily be represented
      as edges connecting the nodes of a graph.
    </p>
    <aside class="pquote">
      <blockquote>The upper shelf</blockquote>
    </aside>
    <p>
      So, we want relations outside and above our objects, stuffed into their
      boxes; at a higher abstraction level, a sort of "upper shelf". This shelf
      will host a deeply, interconnected network of relations; and
      unsurprisingly, it will have a form of an RDF graph. This will provide the
      network connecting all our objects and/or their parts together, even
      outside the boundaries of our database.
    </p>
    <p>
      Yet, in the spirit of Cadmus, we still want to preserve a simple user
      experience. After all, that's one of the reasons for modeling records as
      boxes with any type of object inside, and providing a free model and UI
      for each object. Usually, human operators do not think in terms of highly
      normalized and fragmented information, atomized to the level of triples,
      where boundaries between objects fade out; rather, they tend to group a
      set of strictly interconnected data together, just like the old paper
      forms some of them were used to.
    </p>
    <p>
      So, Cadmus provides users with a similar experience: they edit different
      sets of features for each object, each in its own UI. For a manuscript, he
      may want to edit all the features connected to shelfmark identification;
      bindings; watermarks; codicological units; sheet signatures like
      numberings or catchwords; decorations; etc. At the same time, we want to
      be able to "project" some of the features of these objects, and/or the
      objects themselves, into a higher level plane, where each entity is
      modeled as the node of a graph, representing their relationships. This
      way, we would provide the best user experience from both worlds:
      human-friendly data models and UI on one side, and highly networked data
      on another one.
    </p>
    <p>
      In a sense, just like we can use Cadmus to generate complex TEI documents
      by just filling some web forms without knowing anything about XML, we can
      use it to generate semantic graphs in exactly the same way, without doing
      anything more than filling the same forms; and without having to know
      about RDF.
    </p>
    <aside class="pquote">
      <blockquote>Mapping rules</blockquote>
    </aside>
    <p>
      Thus, having a graph of interconnected nodes representing such
      relationships does not mean that users necessarily have to edit data in
      terms of nodes and edges, which often is difficult for them. Most of the
      data for this graph can effectively be derived from our traditional
      monadic objects, to allow users continue work by focusing on an easily
      understandable mental model and its GUI.
    </p>
    <p>
      In fact, many objects can legitimately include some relational data which
      fits their model and purpose. Some objects are even designed to contain
      purely relational data, e.g. when dealing with relationships like events.
      Among the general purpose parts, Cadmus provides a historical events
      model, which contains a list of events of any type, each with a
      description, optional date and/or time, and directly related entities.
      Such part can be used for a lot of different purposes: for instance, in
      the biography of a person it can represent all the relevant events
      involving that person, including birth and death.
    </p>
    <p>
      So, users can encode a lot of relations without leaving the user-friendly
      environment of object-editing in a rich GUI. Whenever they save such
      objects, Cadmus can optionally apply a number of
      <em>mapping rules</em> for projecting a subset of their data into a
      RDF-like graph. Yet, when required users can directly edit the graph, to
      supply additional nodes or edges. Their edits get combined with the result
      of projections, and are never overwritten by them, even though the
      projection can keep in synch its nodes and triples whenever items and
      parts are added, updated or deleted.
    </p>
    <aside class="pquote">
      <blockquote>Layers of abstraction</blockquote>
    </aside>
    <p>
      These rules bridge the gap between our monadic objects and the upper plane
      of the graph, and are easily integreated in the Cadmus architecture. The
      following picture summarizes the different layers of abstraction used in
      Cadmus, from bottom to top.
    </p>
    <figure>
      <img src="assets/img/sem-graph2-400.jpg" alt="Layers of abstraction" />
      <figcaption>layers of abstraction</figcaption>
    </figure>
    <p>
      At the bottom, users edit single objects in their own UI. Each can be
      modeled and edited independently, which allows building dynamic models by
      progressive aggregation.
    </p>
    <p>
      These objects get stuffed into a box to define the item model as the sum
      of the models of all the parts included in it. At any moment we can add
      new object types with their UI, and integrate them in the existing data
      and editor, with no changes required in the rest of data nor in the editor
      infrastructure.
    </p>
    <p>
      Whenever a user saves an object, it automatically provides indexing data;
      the object being totally opaque to the system, it is the only entity
      capable of doing this. These data, in the form of a set of simple
      name/value pairs (the data pins), are used to build the index feeding the
      real-time search feature in the editor.
    </p>
    <p>
      At the same time, if we defined graph mapping rules, all the matching
      rules get executed, thus producing a new subset of nodes and edges. Then,
      this subset is compared against the stored graph, which gets updated
      accordingly. It is important to notice that the automatic process only
      addresses nodes and links derived from this projection; any manual edit on
      the graph by users is preserved intact. This allows a continuous
      integration of a subset of the graph coming from objects with that derived
      from direct user intervention, or maybe from importing data into the
      database.
    </p>
    <p>
      In this context, the projection rules are stored in the same database used
      for indexing Cadmus data. Just like changing export methods may lead to a
      totally different TEI output, changing these rules may lead to totally
      different graphs. Thus, we can eventually generate different graphs from
      the same content, created once by users who do not need to know anything
      about TEI, RDF, or any other technology produced as an output.
    </p>
    <aside class="pquote">
      <blockquote>Bridging the Gap</blockquote>
    </aside>
    <p>
      The following picture shows how the objects plane is projected into the
      graph plane, by means of a set of mapping rules which establish a bridge
      between certain object properties and their representation in the graph.
      <figure>
        <img
          src="./assets/img/graph-projection.png"
          style="width: 600px"
          alt="Graph projection"
        />
        <figcaption>Projecting object into graph</figcaption>
      </figure>
    </p>
    <p>
      Imagine that your object (a Cadmus part) contains a list of events; and
      that each event is an object whose model has a type (usually drawn from
      some <a routerLink="docs/taxonomies">taxonomy</a>), a date and a place,
      and an optional list of related entities. Users just enter events via the
      part editor: so, they add an event, pick its type from a list, enter its
      date and/or place, and eventually add related entities.
    </p>
    <p>
      To the left you can see the objects area and the corresponding part
      editor: the person Petrarch is our box; inside it, there is the events
      object. In its editor, a user enters the birth event for Petrarch, which
      happened at Arezzo in 1304, from ser Petracco (father) and Eletta Cangiani
      (mother). This is all what a user has to do: filling a web UI, without any
      other knowledge about models and semantic graphs.
    </p>
    <p>
      Once the object gets saved, the mapper kicks in, and builds a portion of
      our graph by means of projection rules, here represented by arrows. As you
      can see from the picture, each portion of the UI, which in turn represents
      a part of the object model, generates a portion of the graph. In the end,
      we get an event node, Petrarch's birth, which is of type birth (as
      specified in the dropdown list of the UI), took place at Arezzo in 1304,
      from mother Eletta Cangiani and father ser Petracco. This event brought
      into life Petrarch. This full graph is thus generated automatically, and
      merged with the wider target graph. So, the user here is effectively
      creating not only an object, but also a portion of a semantic graph,
      without knowing anything about the respective technologies.
    </p>
    <aside class="pquote">
      <blockquote>Walking the Graph</blockquote>
    </aside>
    <p>
      Once all our objects are linked in a graph, we can walk it at will,
      progressively discovering the connections of each node with others. This
      may happen even inside the Cadmus editor.
    </p>
    <p>
      As the graph may quickly grow up in size, it would be impractical to
      represent all the nodes and their links (edges) at once; the graph would
      be barely readable, overcrowded by a high number of overlapping shapes and
      lines. The solution adopted in the editor, where users may want to explore
      the relations starting from an object towards any other object, is
      displaying nodes and edges as you walk across the graph. Also, all the
      edges of the same type are initially grouped under a single graphical
      element.
    </p>
    <p>
      So, you start from a single node, and just see all its "outbound" (i.e.
      where this node is the subject) and "inbound" (i.e. where this node is the
      object) links, grouped by type, with their counts. For instance, if the
      node has 4 labels in 4 different languages, you won't see 4 links, but
      just a node representing their group. When you double click it, it will
      expand into those 4 links, each leading to another node. In the same way,
      you will be able to walk along all the links, from node to node,
      progressively unveiling the graph.
    </p>
    <p>
      Additionally, a number of filters are available to be freely combined, so
      that you see only those links or nodes you are interested in. These
      filters vary according to the node selected while walking, and each node
      retains its own filtering state.
    </p>
    <p>
      This is right what is shown by the video below (it is suggested to play it
      maximized). You start from the node representing a person, Petrarch. It
      has a number of links connected to it: 2 outbound links (for
      <code>rdfs:label</code> and <code>rdf:type</code>), and 2 inbound (<code
        >crm:P98_brought_into_life</code
      >
      and <code>crm:P93_took_out_of_existence</code>). Each of these links is
      connected to a specified number of nodes: in the case of
      <code>rdfs:label</code>, we have 4 of them, as we have 4 different labels
      attached to this person.
    </p>
    <figure>
      <video controls width="600">
        <source src="./assets/videos/walker.mp4" type="video/mp4" />
      </video>
      <figcaption>Walking the graph</figcaption>
    </figure>
    <p>
      So, we stretch the graph a bit to adjust our view, and expand another
      node: this time it's the <code>rdf:type</code> group of links. It brings
      us to the person class node. That is to say, Petrarch is a person.
    </p>
    <p>
      Let us walk again expanding <code>crm:P98_brought_into_life</code>; this
      brings up back to the subject of the triple, a birth node. So, the birth
      event brought Petrarch into life.
    </p>
    <p>
      And finally, let us expand <code>crm:P93_took_out_of_existence</code>:
      this brings us to the death node, which took Petrarch out of existence. As
      you might see, this is right how CIDOC-CRM would represent such an event.
      So, the biography of a person is no more a text talking about what
      happened to him/her; nor just a list of structured event objects; but also
      a graph of interconnected nodes following a LOD standard ontology.
    </p>
  </article>
</div>
