#container {
  background-image: url("/assets/img/cadmus.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.card {
  min-height: 400px;
  background-color: #E2D6BC;
  border-radius: 24px;
  padding: 20px;
  opacity: 0.85;
  color: white;
  text-align: center;
  font-size: 32pt;
}
.card mat-icon {
  margin: 40px 0 20px 0;
  font-size: 200px;
  width: 200px;
  height: 200px;
}
.card a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
