h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 16px;
}
h2 {
  font-size: 1.5rem;
  text-align: center;
  color: silver;
}
#img-container {
  position: absolute;
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
}
.widget {
  width: 220px;
  border: 2px solid silver;
  border-radius: 16px;
  background-color: white;
  opacity: 0.85;
  color: black;
}
.widget h2 {
  text-align: center;
  margin: 8px 0;
}
.widget img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.widget mat-icon {
  margin: 40px 0 20px 0;
  font-size: 150px;
  width: 200px;
  height: 150px;
  color: #3f51b5;
  margin: 0;
}
.widget a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.widget a:visited {
  color: black;
}
.widget div {
  text-align: center;
  margin: 8px 0;
}
#container {
  margin: 8px;
  height: calc(100vh - 200px);
}
div#container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "intro docs"
    "shop profile";
  gap: 8px;
}
div#intro {
  grid-area: intro;
}
div#docs {
  grid-area: docs;
}
div#shop {
  grid-area: shop;
}
div#profile {
  grid-area: profile;
}
/* lt-md */
@media only screen and (max-width: 959px) {
  div#container {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "intro"
      "docs"
      "shop"
      "profile";
  }
}
