<header>
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center">
    <span style="flex: 0 0 60px"
      ><img src="./assets/img/logo-white-40.png" alt="Fusisoft"
    /></span>
    <a mat-button routerLink="/home">Cadmus Show</a>

    <button type="button" mat-button [matMenuTriggerFor]="profileMenu">
      Profile
    </button>
    <mat-menu #profileMenu>
      <a mat-menu-item routerLink="/profile">Documentation</a>
      <a mat-menu-item routerLink="/profile/flow">Builder</a>
    </mat-menu>

    <a mat-button routerLink="/models">Models</a>

    <!-- <button type="button" mat-button [matMenuTriggerFor]="facetMenu">
      Facets
    </button>
    <mat-menu #facetMenu>
      <a mat-menu-item routerLink="/facets-list">Facets list</a>
      <a mat-menu-item routerLink="/facets-code">Facets code</a>
    </mat-menu>

    <button type="button" mat-button [matMenuTriggerFor]="flagMenu">
      Flags
    </button>
    <mat-menu #flagMenu>
      <a mat-menu-item routerLink="/flags-list">Flags list</a>
      <a mat-menu-item routerLink="/flags-code">Flags code</a>
    </mat-menu>

    <button type="button" mat-button [matMenuTriggerFor]="thesMenu">
      Thesauri
    </button>
    <mat-menu #thesMenu>
      <a mat-menu-item routerLink="/thes-list">Thesauri list</a>
      <a mat-menu-item routerLink="/thes-code">Thesauri code</a>
    </mat-menu> -->

    <span class="tb-fill-remaining-space"></span>
  </mat-toolbar>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div layout="row" layout-align="center center">
    Cadmus Show by
    <a href="https://www.fusisoft.net" target="_blank">Daniele Fusi</a> at
    <a href="https://www.unive.it/pag/39287" target="_blank">VeDPH</a>
  </div>
</footer>
