<header>
  <mat-toolbar fxLayout="row" fxLayoutAlign="start center">
    <span style="flex: 0 0 60px"
      ><img src="./assets/img/logo-black-40.png" alt="Fusisoft"
    /></span>
    <a mat-button routerLink="/home">Cadmus Show</a>

    <button type="button" mat-button [matMenuTriggerFor]="docMenu">
      Documentation
    </button>
    <mat-menu #docMenu>
      <a mat-menu-item routerLink="/docs">Overview</a>
      <a mat-menu-item routerLink="/intro">Introduction</a>
      <a mat-menu-item routerLink="/docs/data-architecture"
        >Data Architecture</a
      >
      <a mat-menu-item routerLink="/docs/text-architecture"
        >Text Architecture</a
      >
      <a mat-menu-item routerLink="/docs/taxonomies">Taxonomies</a>
      <a mat-menu-item routerLink="/docs/infrastructure">Infrastructure</a>
      <a mat-menu-item routerLink="/docs/semantic-graph">Semantic graph</a>
      <a mat-menu-item routerLink="/docs/export">Data Export</a>
    </mat-menu>

    <button type="button" mat-button [matMenuTriggerFor]="profileMenu">
      Profile
    </button>
    <mat-menu #profileMenu>
      <a mat-menu-item routerLink="/profile">Documentation</a>
      <a mat-menu-item routerLink="/profile/flow">Builder</a>
    </mat-menu>

    <button type="button" mat-button [matMenuTriggerFor]="modelsMenu">
      Models
    </button>
    <mat-menu #modelsMenu>
      <a mat-menu-item routerLink="/models">Documentation</a>
      <a mat-menu-item routerLink="/models/shop">Shop</a>
      <a mat-menu-item routerLink="/models/graph">Graph</a>
    </mat-menu>

    <span class="tb-fill-remaining-space"></span>
  </mat-toolbar>
</header>

<main>
  <router-outlet></router-outlet>
  <tour-step-template></tour-step-template>
</main>

<footer>
  <div layout="row" layout-align="center center">
    <a href="https://www.unive.it/pag/39287" target="_blank"
      ><img src="assets/img/vedph-48.png" alt="VeDPH"
    /></a>
    <div>
      Cadmus Show by
      <a href="https://www.fusisoft.net" target="_blank">Daniele Fusi</a> at
      <a href="https://www.unive.it/pag/39287" target="_blank">VeDPH</a> - version {{version}}
    </div>
  </div>
</footer>
