footer {
  color: #808080;
  padding: 4px;
  text-align: center;
  margin: 16px 32px;
  padding-top: 16px;
  font-size: 95%;
  border-top: 1px solid silver;
}
footer a {
  color: #808080;
}

.active {
  font-size: 100% !important;
}

mat-icon.small-icon {
  font-size: 85% !important;
  margin-left: 8px;
}

.tb-fill-remaining-space {
  flex: 1 1 auto;
}
