#banner {
  height: 258px;
  background-image: url("/assets/img/pencils.jpg");
  background-size: cover;
  margin-bottom: 16px;
}
article {
  margin: 16px 64px;
  font-size: 14pt;
  line-height: 20pt;
}
