<div>
  <h1>Cadmus Profile</h1>
  <div>
    <div id="banner"></div>
  </div>
  <article>
    <p>
      <a mat-flat-button color="primary" routerLink="/profile/flow">
        <mat-icon>build</mat-icon> goto builder
      </a>
    </p>
    <p>
      A Cadmus profile tells the editor about your data architecture. There are
      three main areas here:
    </p>
    <ol>
      <li>
        <strong>facets</strong> define the data models ("parts") you pick to
        compose your records ("items"). A facet lists all the parts an item can
        (or should) contain. This is not a closed set: you are free to change it
        at any moment, even when you have already entered data. In this way,
        each item has an open, composable data model, resulting from the sum of
        the parts it contains. Further, the same parts can be reused across
        different items, and the same happens for their editing UI.
      </li>
      <li>
        <strong>flags</strong> are optional tags which can be attached to any
        item, in order to mark it in some meaningful way for editing purposes.
        For instance, you might want to mark an item as to be revised, or
        completed, revised, etc. You can define up to 32 such flags, giving each
        a name, a color, and a description.
      </li>
      <li>
        <strong>thesauri</strong> are taxonomies you can share across any number
        of data models (parts), wherever users need to pick a value from a
        predefined set. These taxonomies can be simple, "flat" lists, or rather
        hierarchical. In both cases, they are defined as objects having each a
        list of entries. Each entry has an arbitrarily assigned ID, which must
        be unique whithin that object; and a text value to be displayed to the
        user. For instance, you might have a list of languages to pick from,
        like English, French, Italian, etc.: in this case, your thesaurus would
        have its own ID, e.g. <code>languages</code>, plus a number of entries
        like <code>eng</code>=<code>English</code>,
        <code>fre</code>=<code>French</code>,
        <code>ita</code>=<code>Italian</code>, etc. Here I'm using
        <a href="https://en.wikipedia.org/wiki/ISO_639-3" target="_blank"
          >ISO 639 for language codes</a
        >, but IDs are totally arbitrary, even if it's suggested to use some
        standard when available. These are the IDs which will be used internally
        to represent any entry from your taxonomies.
      </li>
    </ol>
    <p>
      The profile is a simple JSON text with an object for each of these three
      areas: <code>facets</code>, <code>flags</code>, and <code>thesauri</code>.
    </p>
    <p>
      There are two ways for editing these JSON-based resources: one lets you
      directly work with the JSON code at once; another provides a visual
      editing experience. You can freely swap between them at any time. While
      code editing is always the same, the visual editing experience differs
      according to the type of resource being edited. You can just go ahead and
      <a routerLink="/profile/flow">have a try</a>, or keep reading for more
      information.
    </p>

    <h2>Facets</h2>
    <p>Each facet is an object with the following properties:</p>
    <ul>
      <li><code>id</code>: a unique arbitrarily defined ID.</li>
      <li><code>label</code>: the label assigned to the facet.</li>
      <li><code>description</code>: a short description of the facet.</li>
      <li><code>colorKey</code>: the color assigned to the facet.</li>
      <li>1 or more part definitions.</li>
    </ul>
    <p>Each part definition has the following properties:</p>
    <ul>
      <li>
        <code>typeId</code>: the part's type ID. This comes from the backend
        part's model. Each part has its own, unique type ID.
      </li>
      <li>
        <code>roleId</code>: the optional role ID for the part. This is either
        used to distinguish several specialized usages of the same part (e.g. 2
        note parts, one for a generic note and another for a translation), or to
        define different types of text layers. In the latter case this ID always
        starts with prefix <code>fr.</code>.
      </li>
      <li><code>name</code>: a name for the part.</li>
      <li><code>description</code>: a short description of the part.</li>
      <li>
        <code>isRequired</code>: true if the part is required in its item.
      </li>
      <li><code>colorKey</code>: the color assigned to the part.</li>
      <li>
        <code>groupKey</code>: the group the part belongs to. Grouping parts is
        a way of better organizing them, and only affects their presentation in
        the frontend.
      </li>
      <li>
        <code>sortKey</code>: the sort key used to order the list of parts in
        each group. This can be any string, and is used as a key for sorting. So
        for instance you might just want to set this property to values like
        <code>A</code>, <code>B</code>, etc. to specify your desired sort order.
        Just like colors, names, descriptions, etc. this is a purely
        presentational property which belongs to the frontend only.
      </li>
    </ul>
    <h2>Flags</h2>
    <p>Each flag is an object with the following properties:</p>
    <ul>
      <li>
        <code>id</code>: a numeric unique ID. This is a bitvalue in an unsigned
        32-bits integer. In visual editing, you just use a number from 1 to 32.
      </li>
      <li><code>label</code>: the label assigned to the flag.</li>
      <li><code>description</code>: a short description of the flag.</li>
      <li><code>colorKey</code>: the color assigned to the flag.</li>
    </ul>
    <p>Here are two sample flags:</p>
    <code>
      <pre>
[
  &#123;
    "id": 1,
    "label": "complete",
    "description": "The item is complete.",
    "colorKey": "F0B880"
  &#125;,
  &#123;
    "id": 2,
    "label": "revised",
    "description": "The item has been revised.",
    "colorKey": "80F080"
    &#125;
]
</pre
      >
    </code>
    <h2>Thesauri</h2>
    <p>Each thesaurus is an object with the following properties:</p>
    <ul>
      <li>
        <code>id</code>: the thesaurus unique ID, suffixed with
        <code>@</code> followed by its ISO639-2 language code; e.g.
        <code>languages@en</code>. NOTE: currently, the language suffix is not
        used in the frontend implementation, so just leave it to english
        (<code>en</code>), whatever the language you use in your entry's value.
      </li>
      <li>
        <code>entries</code>: an array of entries, each being an object having:
        <ul>
          <li><code>id</code>: the entry ID.</li>
          <li><code>value</code>: the entry value.</li>
        </ul>
      </li>
    </ul>
    <p>Here is a sample thesaurus with a couple of entries:</p>
    <code>
      <pre>
&#123;
  "id": "languages@en",
  "entries": [
    &#123;
      "id": "lat",
      "value": "Latin"
    &#125;,
    &#123;
      "id": "grc",
      "value": "Greek"
      &#125;
  ]
&#125;
</pre
      >
    </code>
    <p>
      You can also have hierarchical thesauri, where entries are arranged in a
      hierarchy represented with dots in their IDs. For instance, say you want
      to represent this simple 2-levels hierarchy:
    </p>
    <ul>
      <li>
        language:
        <ul>
          <li>language: phonology</li>
          <li>language: morphology</li>
          <li>language: syntax</li>
        </ul>
      </li>
    </ul>
    <p>
      You can use a dot in each entry to represent three children entries under
      the same node:
    </p>
    <code>
      <pre>
[
  &#123; "id": "lang.pho", "value": "language: phonology" &#125;,
  &#123; "id": "lang.mor", "value": "language: morphology" &#125;,
  &#123; "id": "lang.syn", "value": "language: syntax" &#125;
]
</pre
      >
    </code>
    <p>
      Should you want to have a selectable entry also for the parent
      <code>language</code> node, you just have to add another one, like this:
    </p>
    <code>
      <pre>
[
  &#123; "id": "lang.-", "value": "language" &#125;,
  ... other entries as above ...
]
</pre
      >
    </code>
    <p>There is no limit to the level of nesting in such thesauri.</p>
    <p>
      Alternatively, the thesaurus can be just an alias targeting another,
      existing thesaurus. In this case it has no <code>entries</code>, but only
      a single <code>targetId</code> with the ID of the thesaurus it refers to.
    </p>
  </article>
</div>
