<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Profile Builder</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-vertical-stepper
      [selectedIndex]="initialIndex"
      (selectionChange)="onStepperSelectionChange($event)"
    >
      <!-- facets -->
      <mat-step label="facets">
        <h2><mat-icon class="head-icon">dashboard</mat-icon>Items Facets</h2>
        <div class="pnc">
          <p>
            Define the parts for each type of item. A facet lists all the parts
            an item can (or should) contain.
          </p>
          <cadmus-running-count
            *ngIf="counts[0]"
            [params]="{ start: 0, end: counts[0], interval: 20, increment: 1 }"
          ></cadmus-running-count>
        </div>
        <div class="tbar">
          <a
            type="button"
            mat-stroked-button
            matTooltip="Edit or import facets code"
            routerLink="/facets-code"
          >
            <mat-icon>code</mat-icon>
            code
          </a>
          <a
            type="button"
            color="primary"
            mat-stroked-button
            matTooltip="Visually edit facets"
            routerLink="/facets-list"
          >
            <mat-icon>mouse</mat-icon>
            visual
          </a>
          <button type="button" mat-stroked-button matStepperNext>
            <mat-icon>skip_next</mat-icon>
            next
          </button>
        </div>
      </mat-step>
      <!-- flags -->
      <mat-step label="flags">
        <h2><mat-icon class="head-icon">flag</mat-icon>Items Flags</h2>
        <div class="pnc">
          <p>
            Define an optional set of flags which can be attached to items, to
            tag them in some meaningful way (e.g. to be revised, completed,
            revised, etc.).
          </p>
          <cadmus-running-count
            *ngIf="counts[1]"
            [params]="{ start: 0, end: counts[1], interval: 20, increment: 1 }"
          ></cadmus-running-count>
        </div>
        <div class="tbar">
          <a
            type="button"
            mat-stroked-button
            matTooltip="Edit or import flags code"
            routerLink="/flags-code"
          >
            <mat-icon>code</mat-icon>
            code
          </a>
          <a
            type="button"
            color="primary"
            mat-stroked-button
            matTooltip="Visually edit flags"
            routerLink="/flags-list"
          >
            <mat-icon>mouse</mat-icon>
            visual
          </a>
          <button type="button" mat-stroked-button matStepperPrevious>
            <mat-icon>skip_previous</mat-icon>
            back
          </button>
          <button type="button" mat-stroked-button matStepperNext>
            <mat-icon>skip_next</mat-icon>
            next
          </button>
        </div>
      </mat-step>
      <!-- thesauri -->
      <mat-step label="thesauri">
        <h2><mat-icon class="head-icon">account_balance</mat-icon>Thesauri</h2>
        <div class="pnc">
          <p>
            Define any number of taxonomies, either flat or hierarchical, to be
            used in the editors to pick values from a set.
          </p>
          <cadmus-running-count
            *ngIf="counts[2]"
            [params]="{ start: 0, end: counts[2], interval: 20, increment: 1 }"
          ></cadmus-running-count>
        </div>
        <div class="tbar">
          <button
            type="button"
            mat-stroked-button
            matTooltip="Edit or import thesauri code"
            routerLink="/thes-code"
          >
            <mat-icon>code</mat-icon>
            code
          </button>
          <button
            type="button"
            color="primary"
            mat-stroked-button
            matTooltip="Visually edit thesauri"
            routerLink="/thes-list"
          >
            <mat-icon>mouse</mat-icon>
            visual
          </button>
          <button mat-stroked-button matStepperPrevious>
            <mat-icon>skip_previous</mat-icon>
            back
          </button>
          <a mat-stroked-button color="primary" routerLink="/profile/code">
            <mat-icon>offline_bolt</mat-icon>
            generate
          </a>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>
