<div>
  <h1>Data Architecture</h1>
  <div>
    <div class="banner">
      <img
        class="banner-img"
        srcset="./assets/img/blocks-1024.jpg 1024w, ./assets/img/blocks-512.jpg 512w"
        sizes="(max-width: 600px) 512px, 1024px"
      />
    </div>
  </div>
  <article class="cols">
    <aside class="pquote">
      <blockquote>The Cadmus warehouse</blockquote>
    </aside>
    <p>
      A very simple analogy you can use to visualize the Cadmus data
      architecture is thinking of a set of objects of <em>any</em> type you want
      to store in an organized way. New objects, and new object types, can enter
      at any moment; and when they do, they must not affect all the objects
      already stored in our warehouse. We thus have 3 essential levels:
    </p>
    <ol>
      <li>
        in our warehouse, we have a virtually unlimited set of <em>shelves</em>.
      </li>
      <li>on each shelf, we can store any number of <em>boxes</em>.</li>
      <li>
        a box contains our <em>objects</em>, and has a label so we can easily
        find it among the others.
      </li>
    </ol>
    <p>
      Whenever we want to store new objects, whatever their type, we just grab
      them and toss in one of the boxes. This does not affect all the other
      objects already contained in that box: we don't have to care about what is
      already there, as each object stands by itself. It's just an object that
      we chose to put in a box. In this sense, the object is always equal to
      itself; rather, it's the content of the box which changes whenever we add
      a new object.
    </p>
    <p>
      So, each object has its own type; whereas boxes are all created equal.
      Yet, in a sense the type of the box depends on what we put into it: we
      might have a box of books and newspapers, another of pencils and pens,
      etc. From this point of view, while an object has its own type, the box
      has a dynamic type, which results from the sum of all the objects it
      contains.
    </p>
    <aside class="pquote">
      <blockquote>Opaque storage technology</blockquote>
    </aside>
    <p>
      If we now resolve this analogy, the warehouse with its shelves is our data
      store. As such, it relies on some storage technology. In the current
      implementation, this happens to be a NoSql database. At any rate, the
      underlying storage technology is an implementation detail; users need not
      to trouble with it. In fact, given Cadmus layered architecture, you could
      even swap its data storage technology with another one, and the rest of
      the system would not even be aware of it.
    </p>
    <aside class="pquote">
      <blockquote>Open data modelling: items and parts</blockquote>
    </aside>
    <p>
      Second, the boxes on the shelves are our "records"; in Cadmus lingo, these
      are called <strong>items</strong>. As we have seen, all these records have
      the same model, as they are just containers. In another sense anyway,
      their model is composite, as the sum of all the contained objects.
      Further, the label on each box represents a set of metadata, attached to
      each record.
    </p>
    <p>
      Finally, and most important, we come to objects. These are the meat of our
      data, named <strong>parts</strong>. Boxes, shelves, and the whole
      warehouse essentially are only infrastructure, used to store and organize
      objects. The objects represent a semantically coherent, self-contained and
      virtually independent set of data, structured according their own data
      model. Just like boxes can contain any types of objects, so items can
      contain any type of parts. Each part has its own model, while items have
      their model resulting from the composition of these parts.
    </p>
    <p>
      The items can thus represent anything: an inscription, a person, an
      archaeological artifact, a manuscript, a critical apparatus, a dictionary
      entry... there is no limit to the types of data you may want to store. Of
      course, just like you could not store a whole car in a box, such complex
      items usually are disassembled into smaller, semantically coherent parts.
      So we could store e.g. tires, windows, bumpers, lights, etc. in different
      boxes, up to the level of disassembly we want to achieve.
    </p>
    <aside class="pquote">
      <blockquote>Composite modelling</blockquote>
    </aside>
    <p>
      In fact, in most cases objects have complex structures, where we can
      identify recurring sub-models. To make a trivial example, different
      objects like an inscription, a literary text, a person, a lemma in a
      dictionary, a coin, etc. all eventually share a datation. So, it makes
      sense designing composite, rather than monolithic models. We model our
      datation once, and reuse it everywhere; and the same happens with any
      other part of a more complex model we might find useful to design in
      isolation, and then compose with other parts.
    </p>
    <aside class="pquote">
      <blockquote>Taming models complexity: the datation sample</blockquote>
    </aside>
    <p>
      This decomposition of items into parts is way of reducing the complexity
      of models, and defining a set of sub-models with such an abstraction level
      to be easily shared, and thus reused, across several different composite
      models (items).
    </p>
    <p>
      In the above example, datation might sound an odd example for a complex
      model; but a datation often is much more than a simple number for a year
      or a century, and it effectively requires a structure of its own. For
      instance, consider this expression:
      <em>367/366 B.C.? - ca. 150 A.D. (Roman copy)</em> (found in SEG 46,1531).
      We want to preserve all the nouances of similar expressions, but we also
      want to encode datations in a computable structure, so that a machine can
      sort or filter items according to its value. Click below to see some more
      examples.
    </p>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Some datation samples
      </mat-expansion-panel-header>
      <ng-ticker [stopOnHover]="true" speed="20s">
        <p>
          &#x2022; unknown &#x2022; iii century AD &#x2022; before the ii
          century BC &#x2022; after the i century AD (?) &#x2022; between the ii
          and iii century AD &#x2022; about iv-iii century BC &#x2022; May 30,
          178 BC &#x2022; 136/5 BC &#x2022; after 178 BC &#x2022; before 136/5
          BC &#x2022; 150-125 BC &#x2022; Tiberius reign (14-37 AD) ...
        </p>
      </ng-ticker>
    </mat-expansion-panel>
    <br />
    <p>
      We could thus start from this timeline, and place a single point on it to
      cover expressions like "iii century AD", "May 30, 178 BC", "136/5 BC",
      etc.
    </p>
    <figure>
      <img src="./assets/img/d1.svg" />
      <legend>
        <p>A single point on a timeline, like <em>178 BC</em>.</p>
      </legend>
    </figure>
    <p>
      By adding another point we can define an interval, which covers
      expressions like "between the ii and iii century AD", "about iv-iii
      century BC", "150-125 BC", "Tiberius reign (14-37 AD)", etc.
    </p>
    <figure>
      <img src="./assets/img/d2.svg" />
      <legend>
        <p>
          Two points on the timeline, defining an interval, like
          <em>14-37 AD</em>.
        </p>
      </legend>
    </figure>
    <p>
      Finally, the second point might be <em>somewhere</em> before the first one
      (as a <em>terminus ante</em>); or somewhere after it (as a
      <em>terminus post</em>).
    </p>
    <figure>
      <img src="./assets/img/d3.svg" />
      <legend>
        <p>
          Two points on the timeline, defining an interval, where the first
          point is not exactly defined. This is a <em>terminus ante</em>, like
          <em>before 31 AD</em>.
        </p>
      </legend>
    </figure>
    <figure>
      <img src="./assets/img/d4.svg" />
      <legend>
        <p>
          Two points on the timeline, defining an interval, where the last point
          is not exactly defined. This is a <em>terminus post</em>, like
          <em>after 31 AD</em>.
        </p>
      </legend>
    </figure>
    <p>
      So, here is our model: it has either 0 points, when unknown; or 1 or 2
      points. Each of these point is an object, having its own properties.
    </p>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        More on the date model
      </mat-expansion-panel-header>
      <p>A point in the date has these properties:</p>
      <ul>
        <li>
          <strong>value</strong>: the numeric value of the point. Its
          interpretation depends on other points properties: it may represent a
          year or a century, or a span between two consecutive Gregorian years.
        </li>
        <li>
          <strong>isCentury</strong>: true if value is a century number; false
          if it's a Gregorian year.
        </li>
        <li>
          <strong>isSpan</strong>: true if the value is the first year of a pair
          of two consecutive years. This is used for calendars which span across
          two Gregorian years, e.g. 776/5 BC.
        </li>
        <li><strong>month</strong>: the month number (1-12) or 0.</li>
        <li><strong>day</strong>: the day number (1-31) or 0.</li>
        <li>
          <strong>isApproximate</strong>: true if the point is approximate
          ("about", "ca.").
        </li>
        <li>
          <strong>isDubious</strong>: true if the point is dubious ("perhaphs").
        </li>
        <li>
          <strong>hint</strong>: a short textual hint used to better explain or
          motivate the datation point.
        </li>
      </ul>
      <p>
        As a sample, consider the expression cited above
        <em>367/366 B.C.? - ca. 150 A.D. (Roman copy)</em>:
      </p>
      <ol>
        <li>
          point A:
          <ul>
            <li>value=-367</li>
            <li>isSpan=true</li>
            <li>isDubious=true</li>
          </ul>
        </li>
        <li>
          point B:
          <ul>
            <li>value=150</li>
            <li>isApproximate=true</li>
            <li>hint=Roman copy</li>
          </ul>
        </li>
      </ol>
    </mat-expansion-panel>
    <br />
    <aside class="pquote">
      <blockquote>Playing with datation</blockquote>
    </aside>
    <p>
      Here you can play with an editor for this model. The default date set in
      this editor is "367/366 B.C.? - ca. 150 A.D. (Roman copy)"; a real-world
      example drawn from SEG 46,1531. This represents a range, where the first
      point is a year spanning across two years of our Gregorian calendar
      (367-366 BC), and it's dubious; the second point instead is placed
      somewhat around 150 AD.
    </p>
    <p>
      You can enter a date using a simple syntax, or edit the date visually, by
      opening the visual editor with the arrow button. Usually, you start with
      the visual editor to get to know the syntax, and later directly use that
      syntax, which is faster and more compact. Once finished, click the circle
      button or just press enter. When you enter a new value, its corresponding
      model is here shown below the editor. The numeric value shown next to the
      date is its computed, approximate value used for sorting or filtering.
    </p>
    <cadmus-historical-date-editor
      [(date)]="date"
    ></cadmus-historical-date-editor>
    <div *ngIf="date">
      <pre>{{ date | json }}</pre>
    </div>
    <aside class="pquote">
      <blockquote>Composing data, composing UI</blockquote>
    </aside>
    <p>
      The above example also shows another essential concept in the Cadmus
      architecture: not only data, but also its editing UI is composable. So,
      whenever you need to enter a date in your data editor, you will just have
      to include its editor in your UI, just like now we included it in this
      page.
    </p>
    <p>
      This allows building data models and their editing UIs by pieces, with a
      high level of reuse, resulting in a more uniform architecture and faster
      development.
    </p>
    <aside class="pquote">
      <blockquote>Where to go from here...</blockquote>
    </aside>
    <p>
      You can immediately get a feeling of this idea by peeking at the
      <a routerLink="/models">sample list of models (and their editing UIs)</a>
      from real-world projects using Cadmus; or
      <a routerLink="/docs/text-architecture">continue reading about text</a>,
      and a third data entity, named <strong>fragment</strong>, which is just an
      abstraction used to represent metatextual data.
    </p>
    <p>
      <a mat-raised-button routerLink="/docs/text-architecture"
        >Next: Text Architecture</a
      >
    </p>
  </article>
</div>
