<h1>Cadmus Models Graph</h1>
<div>
  <button
    mat-icon-button
    color="primary"
    type="button"
    (click)="togglePause()"
    matTooltip="Toggle pause"
  >
    <mat-icon>{{ paused ? "play_arrow" : "pause" }}</mat-icon>
  </button>
  <button
    mat-icon-button
    type="button"
    (click)="reset()"
    matTooltip="Reset graph"
  >
    <mat-icon>restart_alt</mat-icon>
  </button>
  <span class="info"
    >zoom, pan, click or drag nodes - shift+drag=pin, ctrl+click=unpin.</span
  >
</div>
<hr />
<div
  style="display: grid; grid-template-columns: auto; grid-template-rows: auto"
>
  <cadmus-force-graph
    style="display: grid"
    [data]="data"
    [options]="options"
    [paused]="paused"
    [fitWindow]="true"
    (nodeClick)="onNodeClick($event)"
  ></cadmus-force-graph>
</div>
<div>
  <cadmus-part-info *ngIf="model" [model]="model"></cadmus-part-info>
</div>
