<div>
  <h1>Learning Cadmus</h1>
  <div>
    <div id="banner"></div>
  </div>
  <article>
    <h2>General Concepts</h2>
    <p>This is a stub page for the documentation's table of contents.</p>
    <ul>
      <li>
        <a routerLink="/docs/data-architecture">data architecture</a>
      </li>
      <li>
        <a routerLink="/docs/text-architecture">text architecture</a>
      </li>
      <li>
        <a routerLink="/docs/taxonomies">taxonomies</a>
      </li>
      <li>
        <a routerLink="/docs/infrastructure">infrastructure</a>
      </li>
    </ul>
  </article>
  <aside>
    <h2>The Cadmus Projects Grid</h2>
    <p>
      Here you can find a list of Cadmus-based projects, with the links to their
      corresponding GitHub repositories. All these projects are under
      development, so most of them do not yet have an official website. Where
      models are missing, this just means that these projects have no specific
      model on their own, but rather reuse general-purpose or other projects
      models (see the <a routerLink="/models/graph">models graph</a>).
    </p>
    <table>
      <thead>
        <tr>
          <th scope="col">project</th>
          <th scope="col">models</th>
          <th scope="col">API</th>
          <th scope="col">app</th>
          <th scope="col">doc</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="https://mizar.unive.it/mqdq/public/">Musisque Deoque</a>
          </td>
          <td></td>
          <td>
            <a href="https://github.com/vedph/cadmus_mqdq_api" target="_blank"
              >api</a
            >
          </td>
          <td>
            <a href="https://github.com/vedph/cadmus_mqdq_app" target="_blank"
              >app</a
            >
          </td>
          <td><a href="" target="_blank"></a></td>
        </tr>
        <tr>
          <td>
            <a href="https://itinera.unisi.it" target="_blank"
              >Petrarch’s ITINERA: Italian Trecento Intellectual Network and
              European Renaissance Advent</a
            >
          </td>
          <td>
            <a href="https://github.com/vedph/cadmus_itinera" target="_blank"
              >models</a
            >
          </td>
          <td>
            <a
              href="https://github.com/vedph/cadmus_itinera_api"
              target="_blank"
              >api</a
            >
          </td>
          <td>
            <a
              href="https://github.com/vedph/cadmus_itinera_app"
              target="_blank"
              >app</a
            >
          </td>
          <td>
            <a
              href="https://github.com/vedph/cadmus_itinera_doc"
              target="_blank"
              >doc</a
            >
          </td>
        </tr>
        <tr>
          <td>
            PAGES: Le tradizioni della linguistica antica: testi e contesti
            degli studi grammaticali nel mondo romano
          </td>
          <td>
            <a href="https://github.com/vedph/cadmus_tgr" target="_blank"
              >models</a
            >
          </td>
          <td>
            <a href="https://github.com/vedph/cadmus_tgr_api" target="_blank"
              >api</a
            >
          </td>
          <td>
            <a href="https://github.com/vedph/cadmus_tgr_app" target="_blank"
              >app</a
            >
          </td>
          <td>
            <a href="https://github.com/vedph/cadmus_tgr_doc" target="_blank"
              >doc</a
            >
          </td>
        </tr>
        <tr>
          <td>Buondelmonti's <em>Liber Insularum</em></td>
          <td></td>
          <td>
            <a href="https://github.com/vedph/cadmus_bdm_api" target="_blank"
              >api</a
            >
          </td>
          <td>
            <a href="https://github.com/vedph/cadmus-bdm-app" target="_blank"
              >app</a
            >
          </td>
          <td></td>
        </tr>
        <tr>
          <td>PURA: PURism in Antiquity</td>
          <td>
            <a href="https://github.com/vedph/cadmus_pura" target="_blank"
              >models</a
            >
          </td>
          <td>
            <a href="https://github.com/vedph/cadmus_pura_api" target="_blank"
              >api</a
            >
          </td>
          <td>
            <a href="https://github.com/vedph/cadmus_pura_app" target="_blank"
              >app</a
            >
          </td>
          <td>
            <a href="https://github.com/vedph/cadmus_pura_doc" target="_blank"
              >doc</a
            >
          </td>
        </tr>
        <tr>
          <td>Inquisitions Graffiti</td>
          <td>
            <a href="https://github.com/vedph/cadmus_ingra" target="_blank"
              >models</a
            >
          </td>
          <td>
            <a href="https://github.com/vedph/cadmus_ingra_api" target="_blank"
              >api</a
            >
          </td>
          <td>
            <a href="https://github.com/vedph/cadmus_ingra_app" target="_blank"
              >app</a
            >
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </aside>
</div>
