<div>
  <h1>Learning Cadmus</h1>
  <div>
    <div id="banner"></div>
  </div>
  <article>
    <h2>General Concepts</h2>
    <p>This is a stub page for the documentation's table of contents.</p>
    <ul>
      <li>
        <a routerLink="/docs/data-architecture">data architecture</a>
      </li>
      <li>
        <a routerLink="/docs/text-architecture">text architecture</a>
      </li>
      <li>
        <a routerLink="/docs/taxonomies">taxonomies</a>
      </li>
      <li>
        <a routerLink="/docs/infrastructure">infrastructure</a>
      </li>
    </ul>
  </article>
</div>
