#banner {
  height: 258px;
  background-image: url("/assets/img/taxonomy.jpg");
  background-size: cover;
  margin-bottom: 16px;
}
h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 16px;
}
div.sample {
  margin: 16px 64px;
}
