<div>
  <h1>The Models Shop</h1>
  <div id="banner"></div>
  <article>
    <p>
      <a mat-flat-button color="primary" routerLink="/models/shop">
        <mat-icon>shopping_bag</mat-icon> goto shop
      </a>
      &nbsp;
      <a mat-flat-button color="primary" routerLink="/models/graph">
        <mat-icon>account_tree</mat-icon> models graph
      </a>
    </p>
    <aside class="pquote">
      <blockquote>Shopping for models</blockquote>
    </aside>
    <p>
      Welcome to the shop. This page is just a demonstrative list, to show the
      potential of an approach focusing on sharing and reusing composable data
      models and their editing user interfaces. As you can learn from the
      <a routerLink="docs/data-architecture">Cadmus data architecture</a>, this
      project focuses on an open-ended set of independent, self-contained data
      models, the parts, which get composed into more complex items. This is a
      recipe for reuse, as not only data, but also the user interfaces for
      editing them can be shared and reused at will.
    </p>
    <p>
      As a sample, here you will find most of the models defined and implemented
      for handling a number of different Cadmus-based projects. Hopefully, these
      models should give you an idea about their variety and their potential for
      reuse.
    </p>
    <aside class="pquote">
      <blockquote>Shop's catalogs</blockquote>
    </aside>
    <p>
      Models are grouped into two catalogs: one for parts, another for
      fragments. From the point of view of the system, this distinction is
      artificial; as we always deal with just parts. Some of these parts are
      layer-parts: they contain a list of data (fragments), each linked to a
      specific portion of a text (in turn, contained in another part). Thus,
      layer parts all have the same model, as far as they are regarded as a list
      of fragments; yet, the model of each fragment is different, and that's
      what makes layer parts different.
    </p>
    <p>
      Thus, we may have a comments layer part, where each fragment represents a
      generic comment attached to text; a paleographic layer part, where each
      fragment encodes the graphical features of letters, ligatures, etc.; and
      so forth.
    </p>
    <p>
      The model of a layer part being a consequence of the model of its
      fragment, the list includes both part and fragment models. Yet, as
      explained here, fragment models really mean layer part models, as far as a
      layer part is just a set of fragments.
    </p>
    <p>
      Each model has its own unique ID, listed with its user-friendly name, the
      name of the project it was developed for, and a set of tags. You can
      variously filter this list to find what you are looking for, or just
      browse it across its pages.
    </p>
    <p>
      When you want to get some information about a model, just click its view
      button: at the bottom of the page you will find a short description, a
      strict formalization of it in a plain text, and one or more screenshots
      from its editing UI.
    </p>
  </article>
</div>
