@import "~jsoneditor/dist/jsoneditor.min.css";

@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom themes
@import 'light-theme.scss';

// theme classes: you can hardcode one of them
// on the <body> tag, or switch dynamically at runtime
// with [class] binding

.light-theme {
  @include angular-material-theme($light-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
.banner {
  height: 258px;
  margin-bottom: 16px;
}
.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}
article {
  margin: 16px 64px;
}
article.cols {
  column-width: 30em;
  column-count: 4;
  column-gap: 2em;
  column-rule: 1px solid silver;
}
.pquote {
  float: left;
  width: 100px;
  background: #e3f2f6;
  font-weight: bold;
  padding: 13px;
  margin: 0 13px 13px 0;
}
blockquote {
  margin: 0;
}
