@import "~jsoneditor/dist/jsoneditor.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.pquote {
  float: left;
  width: 100px;
  background: #E3F2F6;
  font-weight: bold;
  padding: 13px;
  margin: 0 13px 13px 0;
}
blockquote {
  margin: 0;
}
